<div id="oneCont" class="container pb-5">
  <div class="row pt-5">
    <div id="titleOneDiv" class="col-lg-6 ">
      <img src="assets/Recurso1.png" class="img-fluid">
    </div>
    <div id="text2" class="col-lg-5  offset-lg-1">
      <div>
      <p class="lh-1 title2" >- Estres</p>
      </div>
      <div>
        <p  class="lh-1 title2" >- Depresión</p>
      </div>
      <div>
        <p  class="lh-1 title2" >+ Amor</p>
      </div>
      <p>
        Cuando estamos con un bajón anímico muchas personas acudimos a nuestras mascotas para sentirnos mejor, al parecer esto no es solo de algunos, ya que las mascotas parecen tener la capacidad de reducir los pensamientos negativos y evitan que nos sintamos solos.
        Según las universidades de Miami y Saint Louis. Se ha observado también que niños y niñas con alguna dificultad de que leen en voz alta delante de su mascota refuerzan su seguridad y confianza en sí mismos, ya que las mascotas no se van a reír de cómo lo hacen o si se equivocan.
      </p>
    </div>
  </div>
</div>
