<div id="oneCont" class="container pb-5">
  <div class="row pt-5">
    <div id="titleOneDiv" class="col-lg-5 ">
      <p id="title1" class="lh-1" >Beneficios Para El Corazón</p>
      <p>Según la asociación americana de la salud, las personas con mascotas tienen un estado cardiaco más saludable. Reportando que el tener cualquier tipo de mascota se asocia a tener más actividad física, así como mejor dieta y un nivel de azúcar en sangre sano.
        Los perros son los mejor puntuados por este estudio. El llamado ‘mejor amigo del hombre’ también es un guardián del corazón humano
      </p>
    </div>
    <div class="col-lg-auto offset-lg-1">
      <img src="assets/Recurso.png" class="img-fluid">
    </div>
  </div>
</div>

<div id="separator" class="pb-lg-5 text-center">
  <p class="text-white fs-1">"salir, moverse y jugar con su perro regularmente".<br> Presidente de la división de cardiología preventiva de la Clínica Mayo</p>
</div>
