<div id="conclusionDiv">
  <div class="text-center">
    <img src="assets/conclusion.png" class="img-fluid">
  </div>
  <div class="text-center mt-5 container">
    <p>
      Si tienes una mascota ahora sabes todo lo que esta aporta a tu vida, y podrás devolverle algo de toda esa ayuda. Si no tienes una, entonces que esperas para conseguir una, hay muchos animales que esperan ser adoptados y tú podrías ser su nuevo dueño
    </p>
    <div class="row">
      <div class="col-lg-6">
        <h2>Si tienes un Perro</h2>
        <ul>
          <li>Hazle hacer ejercicio. Emplea unos minutos de tu día para jugar con él, ya sea lanzando una pelota o darle un largo paseo por el parque.</li>
          <li>Educa a tu perro. En la educación de la mascota se debe incluir: horarios de comidas, de salidas, espacios donde puede dormir, elementos con los que puede jugar, el lugar donde hacer sus necesidades, etc. Que aprenda todas estas cosas garantiza una buena adaptación del perro al hogar.</li>
          <li>Premia su buen comportamiento. Cuanto tu perro haga algo que le pediste o responda a cierto tipo de entrenamiento, felicítalo y premialo ya sea con golosinas, caricias o juguetes.</li>
          <li>Premia su buen comportamiento. Cuanto tu perro haga algo que le pediste o responda a cierto tipo de entrenamiento, felicítalo y premialo ya sea con golosinas, caricias o juguetes.</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <h2>Si tienes un Gato</h2>
        <ul>
          <li>No aproveches cuando duerme para molestarle sobre todo si cuando está despierto no le gusta que le toques: para un gato el descanso es sagrado.</li>
          <li>No le persigas, no le grites y no lo mires fijamente si quieres que venga. Dale tiempo y espacio. Los gatos suelen acercarse a la persona más tranquila.</li>
          <li>No le tires de la cola. Con ella se comunican, guardan el equilibrio y es súper delicada.</li>
          <li>No le rasques la barriga, las patas o la cola, mejor ve directo a la zona delante y detrás de las orejas y debajo del mentón. Le encantará.</li>
          <li>No lo cojas en brazos sin haberte asegurado antes de que le gusta que lo levanten. Muchos gatos prefieren tener las cuatro patas en el suelo.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
